/*
 Bootstrap (minified): https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css

 https://color.adobe.com/de/mountainside-color-theme-5456407/

    beige:      #D9D2BF
    dark blue:  #3370A6
    light blue: #418FBF
*/

body
{
    background-color: #d9d2bf;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.navbar-default
{
    margin-bottom: 0;
    text-align: left;
    color: #fff;
    border-color: #418fbf;
    border-bottom-width: 0;
    background-color: #3370a6;
    font-weight: 500;
}

img
{
    max-width: 100%;
}

/**
* Text color of navigation.
**/

.navbar-default .navbar-nav > li > a
{
    color: #fff;
}

/**
* Navbar element hover style
**/

.navbar-default .navbar-nav > li > a:hover
{
    color: #fff;
    background-color: #5eadbf;
}

.navbar-default .navbar-brand
{
    color: #fff;
}

/**
* TODO: Does not do anything....
**/

.navbar-default .navbar-brand > li > a:hover
{
    color: #fff;
    background-color: #5eadbf;
}


/**
* ========================================================================
* JUMBOTRON
* ========================================================================
**/

.jumbotron
{
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #4b9ebf;
    background-repeat: no-repeat;
    background-position: right;
}

.jumbotron#nextTalk
{
    padding: 0;
    background-color: #5EADBF;
    background-position: center center;
    background-size: cover;
}

.jumbotron#nextTalk .container-fluid
{
    background-color: rgba(94, 173, 191, .9);
    padding:40px 30px 40px 30px;
}

.jumbotron p {
    margin: 0;
}

.jumbotron h1,
.jumbotron .h1
{
    color: #3370a6;
    font-size: 30px;
}



.container
{
    max-width: 970px;
}

.panel
{
    width: 500px;
    margin: 50px auto;
}

.form-control
{
    margin-bottom: 15px;
}

.form-search
{
    width: 300px;
}


/**
* ========================================================================
* TALKS
* ========================================================================
**/

.item { float: left; }
@media (min-width: 300px) { .item { width: 100%; } }
@media (min-width: 600px) { .item { width: 50%; } }
@media (min-width: 900px) { .item { width: 33.33%; } }

.talks .talk
{
    position: relative;
    min-width: 250px;
    min-height: 333px;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
}

.talk .buttons-edit
{
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}

.talk .buttons-delete
{
    position: absolute;
    top: 10px;
    left: 10px;
    visibility: hidden;
}

.talk:hover .buttons-delete
{
    visibility: visible;
}

.talk:hover .buttons-edit
{
    visibility: visible;
}

.talk .talk-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background-color: rgba(75, 158, 191, .9);
}

.talk .talk-title
{
    overflow: hidden;
    margin: 0 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.talk .talk-title a,
.talk .talk-title a:hover
{
    color: white;
}

.talk-description
{
    overflow: hidden;
    max-height: 140px;
}


/**
* ========================================================================
* ALERTS
* ========================================================================
**/

.alert-info
{
   text-align: center;
   font-size: 2em;
}
