/*
 Bootstrap (minified): https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css

 https://color.adobe.com/de/mountainside-color-theme-5456407/
 */

body
{
    background-color: #D9D2BF;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.navbar-default
{
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    border-color: #418FBF;
    background-image: linear-gradient(to bottom, #3370A6 0px, #3370A6 100%);
    background-repeat: repeat-x;
    color: #FFF;
    font-weight: 500;
    border-bottom-width: 0;
    text-align: left;
}

img
{
    max-width: 100%;
}

/**
* Text color of navigation.
**/
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
/**
* Navbar element hover style
**/
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #5EADBF;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

/**
* TODO: Does not do anything....
**/
.navbar-default .navbar-brand > li > a:hover {
    color: #ffffff;
    background-color: #5EADBF;
}

/**
* ========================================================================
* JUMBOTRON
* ========================================================================
**/
.jumbotron {
    margin-top: 0;
    margin-bottom: 30px;
    background-color: #4B9EBF;
    background-position: right;
    background-repeat: no-repeat;
    color: #FFF;
}
.jumbotron h1,
.jumbotron .h1 {
    color: #3370A6;
    font-size: 30px;
}

.jumbotron p {
    line-height: 1.4;
    color: #FFF;
}

.container
{
    max-width: 970px;
}

.panel
{
    margin: 50px auto;
    width: 500px;
}

.form-control { margin-bottom: 15px; }

.form-search { width: 300px; }

.thumbnail {
    margin-bottom: 25px;
    padding: 0;
    background-size: cover;
    background-position: center center;
}

.thumbnail .caption {
    padding: 9px;
    margin-top: 69%;
    background-color: rgba(75, 158, 191, 0.6);
    color: #FFF;
}

.thumbnail h4 a,
.thumbnail h4 a:hover { color: white; }


.thumbnail h4 {
    overflow: hidden;
    margin: 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}
.thumbnail:hover .buttons-edit { visibility: visible; }
.thumbnail img {
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 4px 4px 0 0;
}

.buttons-edit {
    position: absolute;
    top: 10px;
    right: 25px;
    visibility: hidden;
}

.alert-info
{
    font-size: 2em;
    text-align: center;
}